Screen {
    background: #1e1e2e;
    color: #F9F5A1;
    border: round #F9F5A1;
}

.detail_title {
    text-align: center;
    text-style: bold;
    color: #F9F5A1;
}

.detail_synopsis{
    margin: 5 2;
    background: #1e1e2e;
    border: round #F9F5A1;
    height: auto;
}