Screen {
    background: #1e1e2e;
    color: #F9F5A1;
    border: round #F9F5A1;
}

#search_results {
    margin: 0 2;
    margin-bottom: 1;
    margin-top: 1;
    background: #1e1e2e;
    color: #F9F5A1;
    border: round #F9F5A1;
    overflow: auto;
}

#search_input {
    margin: 0 2;
    margin-top: 1;
    background: #1e1e2e;
    color: #F9F5A1;
    border: round #F9F5A1;
    height: 3;
}

#synopsis_display {
    background: #1e1e2e;
    color: #F9F5A1;
}