#synopsis_display {
    height: auto;
    max-height: 10fr;
    overflow: auto;

    color: white;
    background: #1e1e1e;
    padding: 1;
    border: solid white;
    border-title-align: left;
    border-title-color: cyan;

    text-style: italic;
}

#search_input {

}